/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(../images/grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}
.owl-carousel .owl-controls .owl-pagination{
	position:absolute;
	bottom:0;
	width:100%;
	text-align:center;
}
.owl-carousel .owl-controls .owl-page{
	display: inline-block;
	padding:3px;
	zoom: 1;
	margin:3px;
	*display: inline;/*IE7 life-saver */
}
.owl-carousel .owl-controls .owl-page span{
	display: block;
	width: 24px;
	height: 4px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	background:#fff;
}
.owl-carousel .owl-controls .owl-page.active span,
.owl-carousel .owl-controls.clickable .owl-page:hover span{
	background:#ED811F;
}
.owl-carousel .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
.owl-carousel .owl-buttons {
	position: absolute;
	width: 100%;
	top: 40%;
}
.owl-carousel .owl-buttons .owl-prev,
.owl-carousel .owl-buttons .owl-next{
	position:absolute;
	text-align:center;
	width: 50px;
	height: 60px;
	line-height: 1;
}
.owl-carousel .owl-buttons .owl-prev .fa,
.owl-carousel .owl-buttons .owl-next .fa{
	font-size:36px;
	color:#fff;
	opacity:0.7;
}
.owl-carousel .owl-buttons .owl-prev:hover .fa,
.owl-carousel .owl-buttons .owl-next:hover .fa{
	opacity:1;
}
.owl-carousel .owl-buttons .owl-prev{
	left:35px;
}
.owl-carousel .owl-buttons .owl-next{
	right:35px;
	left:auto;
}
.owl-carousel .owl-item.loading{
	min-height: 150px;
	background: url(../images/AjaxLoader.gif) no-repeat center center
}